@using EntityLayer.Concrete
@model Slider
@{
    ViewData["Title"] = "Create";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<div class="container-fluid pt-4 px-4">
    <div class="row g-4">
        <div class="col-sm-12 col-xl-6">
            <div class="bg-secondary rounded h-100 p-4">
                <h6 class="mb-4">Create Slider</h6>
                <form method="post" enctype="multipart/form-data">
                    <div class="mb-3">
                        <label asp-for="Photo" for="exampleInputEmail1" class="form-label"></label>
                        <input accept="image/*" asp-for="Photo" class="form-control"
                               aria-describedby="emailHelp">
                        <span asp-validation-for="Photo" class="text-danger"></span>
                    </div>
                    <div class="mb-3">
                        <label asp-for="ServingText" for="exampleInputEmail1" class="form-label"></label>
                        <input asp-for="ServingText" class="form-control"
                               aria-describedby="emailHelp">
                        <span asp-validation-for="ServingText" class="text-danger"></span>
                    </div>
                    <div class="mb-3">
                        <label asp-for="CoffeeHeading" for="exampleInputEmail1" class="form-label"></label>
                        <input asp-for="CoffeeHeading" class="form-control"
                               aria-describedby="emailHelp">
                        <span asp-validation-for="CoffeeHeading" class="text-danger"></span>
                    </div>
                    <div class="mb-3">
                        <label asp-for="SinceText" for="exampleInputEmail1" class="form-label"></label>
                        <input asp-for="SinceText" class="form-control"
                               aria-describedby="emailHelp">
                        <span asp-validation-for="SinceText" class="text-danger"></span>
                    </div>
                   

                    <button type="submit" class="btn btn-primary">Create</button>
                </form>
            </div>
        </div>

    </div>
</div>


